
@media screen and (max-width: 600px) {

  /* ヘッダー */
  header {
    height: 80px;
    position: static;
  }
  .header-nav{
    width: 100%;
    height: 80px;
    text-align: left;
    position: relative;
  }
  .header-logo img {
    width: 60%;
    height: auto;
    padding: 10px 10px;
    margin: 0;
    margin-left: 20px;
    float: none;
  }

  /* ハンバーガーメニュー */
  .menu-mobile {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
  }

  /* 通常メニュー非表示 */
  .header-list li {
    display: none;
  }

  /* ヘッドライン */
  .headline {
    margin-top: 50px;
    height: 300px;
  }
  .headline-icon img {
    margin-top: 10px;
    width: 30%;
  }
  .headline-logo img {
    width: 50%;
  }
  .headline-container > p {
    font-size: 15px;
  }

  /* アバウト */
  .about-info {
    width: 80%;
    margin: 50px auto 0;
  }
  .about-info dt {
    float: none;
  }
  .about-info dd {
    line-height: 18px;
  }

  /* お問い合わせ */
  .contact {
    width: 100%;
    margin-top: -20px;
  }
  .contact-icon img{
    width: 30%;
    margin-bottom: -10px;
  }
  .contact-logo img{
    width: 50%;
    margin-bottom: 20px;
  }
  .contact p {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    padding-bottom: 30px;
  }

  /* ボタン */
  .btn {
    font-size: 15px;
    width: 90%;
  }

  /* フッター */
  footer {
    margin-top: 30px;
  background: none;
  background-color: #5be3ec;
  height: 90px;
  }
}